Element 4: Change colors
   Footer {
	Background-color: rgb(47, 17, 120); 
} 

    rgba(235, 236, 230, 0.96)

Card-group {
 	Background-color: rgb(47, 17, 120); 
	font-family: 'Open Sans', sans-serif;
  		font-weight: 290
} 

/* unvisited link */
a:link {
  color: rgba(235, 236, 230, 0.96);
}

/* visited link */
a:visited {
  color: rgb(36, 148, 186);
}

/* mouse over link */
a:hover {
  color: rgba(170, 186, 165, 0.65);
}

/* selected link */
a:active {
  color: rgb(201, 163, 22);
}
   h1 {
 font-size: "24px";
 color:  rgb(201, 163, 22);
 } 
